/* getEmal page styling - done here */

@import url("https://fonts.googleapis.com/css?family=Karla");

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  background-color: #e6e6e6;
  font-family: "Karla";
  background-image: url("../assests//EmailBg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow-x: hidden;
}

.form-signin {
  max-width: 550px;
  min-width: 400px;
  padding: 15px;
}

.form-signin button {
  background-color: #21aba5;
  border-radius: 8px;
}

@media screen and (max-width: 400px) {
  .form-signin {
    display: flex;
    flex-direction: column;
  }
}

header {
  background-color: #1d566e;
  border-radius: 4px;
}

header img {
  margin-right: 20px;
}


/* getEmail page styling - done here */
