* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
  }

html,
body {
  height: 100%;
  color: #1d566e;
}

button {
    background-color: #1d566e;
}

img {
    width: 700px;
}